/* Default proportions*/
:root {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    margin: 0;
    padding: 0;
}

/*Scrollbar customization*/
body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

/*Navbar customization*/
.navbar {
     position: fixed;
     width: 16rem;
     background-color: var(--bg-primary);
     transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
}

.logo span {
    font-size: 1.8rem;
    letter-spacing: 0.3ch;
}

.nav-item {
    width: 100%;
}
.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
}

.nav-icon {
    height: 5rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-text {
    height: 5rem;
    flex: 2;
    display: flex;
    align-items:center;
    text-decoration: none;
    color: var(--text-primary);
}


/*
.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}*/



/*Main customization*/
main {
    margin-left: 16rem;
    padding: 1rem;
}



@media only screen and (max-width: 600px) {
    .navbar {
        width: 5rem;
    }

    main {
        margin-left: 5rem;
    }

    .nav-text {
        display: none;
    }

}